@use "_var.scss" as *;
@use "_mixins.scss" as *;

.cheese {
  margin: 38px 0 96px;
}

.cheese-title {
  margin: 0 0 20px;
  @include text($dark-brown, 32px, 700, 40px);
  font-family: $font-add;
}

.cheese-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 15px;
}

.cheese-img {
  border-radius: 5px;
  width: 100%;
  display: block;
  grid-column: 1/2;
  grid-row: 1/2;
}

.cheese-info {
  background: $white;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 20px 19px;
  height: 190px;
  span {
    @include text($dark-brown, 16px, 400, 24px);
    text-transform: uppercase;
    font-family: $font-add;
    display: inline-block;
  }
  p {
    @include text($black, 14px, 400, 24px);
    opacity: 0.6;
    margin-top: 4px;
  }
  a {
    @include text($colorBrand, 16px, 400, 24px);
    display: inline-block;
    margin-top: 16px;
    padding-right: 30px;
    background: url(../../uploads/arrow-brand.svg) 108px 0px no-repeat;
    background-size: 18px;
  }
  .cheese-read{
    margin-top: 39px;
  }
}

.cheese-button{
    @include text($colorBrand, 16px, 400, 24px);
    grid-column: 2/3;
    justify-self: center;
    background: #fff;
    padding: 12px 50px;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
    margin-top: 16px;
    &:hover{
        @include hover{
        @include text($white, 16px, 400, 24px);
            background: $colorBrand;
        }
    }
}
@include xl{
    .cheese-button{
        display: none;
    }
}